<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">gallary yangu</a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'welcome' %}" style=" font-family: 'ZCOOL KuaiLe', cursive;">Home
                        <span class="sr-only">(current)</span>
                    </a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{%url 'get_category' 'Animals' %}">Animals</a>
                    <a class="dropdown-item" href="{%url 'get_category' 'city' %}">nature</a>
                    <a class="dropdown-item" href="{%url 'get_category' 'Landscape' %}">model</a>
                </div>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{%url 'get_location' 'Africa' %}">kenya</a>
                    <a class="dropdown-item" href="{%url 'get_location' 'china' %}">nyeri</a>
                    <a class="dropdown-item" href="{%url 'get_location' 'USA' %}"> nyandarua</a>
                </div>
            </li>
        </ul>
        <!-- Links -->
        <form class="form-inline" action="{%url 'search_results'%}">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" name='search_pic' placeholder="Search" aria-label="Search">
            </div>
        </form>
        <a href="/admin"><button type="button" class="btn peach-gradient btn-rounded">Admin Login</button></a>
    </div>
    <!-- Collapsible content -->
</nav>
<!--/.Navbar-->