{%extends 'base.html' %} {%block content %}
<h3 style="text-align: center;font-style: oblique;font-size:50px;">WELCOME TO MY GALLARY</h3>


<div class="row">

    {%for image in images %}
    <div class="col-md-6 col-sm-4 col-lg-4">
        <img src="{{image.Photo_image.url}}" height="400" width="400" class="img-thumbnail">
        <p>{{image.Photo_image.url}}</p>
        <p>{{image.location.name}}</p>
    </div>

    {%endfor%}
</div>
<!-- <p>{{image.Photo_image.url}}</p>
    <p>{{image.location.name}}</p> -->
{%endblock%}